
body {
  font-family: -apple-system, BlinkMacSystemFont, Avenir Next, Segoe UI, Roboto;
  color: var(--gray-text);
}

/* heading and subtitle */
h1 {
  letter-spacing: -0.03em;
  font-size: 2.6rem;

  &, + p {
    text-align: center;
    text-wrap: balance;
    max-width: 40rem;
    margin: 0 auto .2em;
  }

  + p {
    font-size: 1.15em;
    font-weight: 300;
    margin-bottom: 2em;
  }
}

/* links */
a {
  text-decoration: none;
  color: var(--link);

  &:hover {
    color: var(--link-hover);
  }

  /* navigational links */
  nav & {
    font-weight: 500;
    color: var(--gray-text);

    &:hover {
      color: var(--link);
    }

    &[aria-current] {
      text-decoration: 2px underline var(--link-hover);
      text-underline-offset: 8px;
    }
  }
}

/* bulk content */
p, li {
  color: var(--gray-text);
  line-height: 1.65;
  strong { color: var(--gray-white) }
}
